<div class="links-container">
    <h2>Links</h2>

    <div class="link-container">
        <p>
            Link to GitHub Repository:
        </p>

        <button>
            <a href="">
                <img src="../../assets/github-logo.png" alt="GitHub Logo">
            </a>
        </button>
    </div>

    <div class="link-container">
        <p>
            Link to LinkedIn:
        </p>

        <button>
            <a href="https://www.linkedin.com/in/joshua-currie-a686bb179/">
                <img src="../../assets/linkedin-icon.png" alt="LinkedIn Logo">
            </a>
        </button>
    </div>

    <div class="link-container">
        <p>
            Link to Resume:
        </p>

        <button>
            <a href="../../assets/resume-Currie.pdf">
                <img src="../../assets/resume-icon.jpg" alt="Resume Icon">
            </a>
        </button>
    </div>
</div>