<div>
    <h2>About</h2>

    <p>
        Simple blog post styled website created by Joshua Currie built using the Angular framework.
        This entire website was created over the span of two days while learning about the Angular
        framework at the same time.
    </p>

    <p>
        All basic aspects of Angular such creating components from scratch, creating components from 
        the Angular CLI, hierarchy of component structuring, life cycle hooks such as (ng)OnInit,
        passing data between components using decorators such as @Input and @Output, etc.
        have all been implemented within this site.
    </p>

    <p>
        The blog posts have not been directly hardcoded, rather retrieved from a JSON file located in the same
        project directory using the fetch API.
    </p>
</div>